<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="row justify-content-center">

        <div id="alert" class="alert alert-primary hidden" role="alert">
           You updated your resume successfuly!
          </div>

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">My resume</h1>
                                </div>
                                <form class="cv">
                                    <div class="form-group">
                                        <label for="firstName" class="col-form-label">First Name:</label>
                                        <input class="form-control form-control-user" id="firstName"
                                            placeholder="First Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName" class="col-form-label">Last Name:</label>
                                        <input class="form-control form-control-user" id="lastName"
                                            placeholder="Last Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="dateOfBirth" class="col-form-label">Birthday:</label>
                                        <input class="form-control form-control-user" type="date" id="dateOfBirth"
                                            placeholder="Date of Birth">
                                    </div>
                                    <div class="form-group">
                                        <label for="address" class="col-form-label">Address:</label>
                                        <input class="form-control form-control-user" id="address"
                                            placeholder="Address">
                                    </div>
                                    <div class="form-group">
                                        <label for="telephone" class="col-form-label">Telephone:</label>
                                        <input class="form-control form-control-user" id="telephone"
                                            placeholder="Telephone">
                                    </div>
                                    <div class="form-group">
                                        <label for="about" class="col-form-label">About:</label>
                                        <textarea class="form-control form-control-user" id="about"
                                            placeholder="A few words to describe yourself..."></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Education:</label>
                                        <div class="form-row">
                                            <div class="col">
                                                <input id="institution" type="text" class="form-control"
                                                    placeholder="Institution">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <label for="beginDate" class="col-form-label">Begining Date:</label>
                                                <input id="beginDate" type="date" class="form-control"
                                                    placeholder="Begining Date">
                                            </div>
                                            <div class="col">
                                                <label for="finishDate" class="col-form-label">Finish Date:</label>
                                                <input id="finishDate" type="date" class="form-control"
                                                    placeholder="Finish Date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Work Experience:</label>
                                        <div class="form-row">
                                            <div class="col">
                                                <input id="position" type="text" class="form-control"
                                                    placeholder="Position">
                                            </div>
                                            <div class="col">
                                                <input id="company" type="text" class="form-control"
                                                    placeholder="Company">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <label for="startDate" class="col-form-label">Start Date:</label>
                                                <input id="startDate" type="date" class="form-control"
                                                    placeholder="Start Date">
                                            </div>
                                            <div class="col">
                                                <label for="endDate" class="col-form-label">End Date:</label>
                                                <input id="endDate" type="date" class="form-control"
                                                    placeholder="End Date">
                                            </div>
                                        </div>
                                    </div>
                                    <button id="saveResume" class="btn btn-primary btn-user btn-block">
                                        Save Resume
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /.container-fluid -->