<%- include("partials/header") %>


<div class="input-group mb-3 search-box">
    <input type="text" class="form-control" placeholder="Cauta job-uri oriunde in tara..." aria-label="Search"
           aria-describedby="button-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-search"></i>
        </button>
    </div>
</div>

<div class="container-fluid about1">
    <div class="row">
        <div class="col-12">
            <h2>De ce sa lucrezi cu noi?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    <span class="lg-icon">
                    <i class="fas fa-search-location logos-padding"></i>
                    </span>
                    <p class="card-text">Noi cautam job-ul perfect pentru tine in locatia pe care o alegi tu.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    <span class="lg-icon">
                    <i class="far fa-copy logos-padding"></i>
                    </span>
                    <p class="card-text">Uita de birocratie! Noi ne ocupam de toate actele pentru tine.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    <span class="lg-icon">
                    <i class="fas fa-wallet logos-padding"></i>
                     </span>
                    <p class="card-text">Toti banii ajung direct in portofelul tau!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>Devino partener prin intermediul nostru si uita de comisioane!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card partner-card">
                <img src="/img/glovo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Glovo</h5>
                    <p class="card-text">Serviciu livrare produse alimentare la domiciliu.</p>
                    <a href="#" class="btn btn-primary">Detalii</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card partner-card">
                <img src="/img/ubereats.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">UberEats</h5>
                    <p class="card-text">Serviciu livrare produse alimentare la domiciliu.</p>
                    <a href="#" class="btn btn-primary">Detalii</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card partner-card">
                <img src="/img/uber.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Uber</h5>
                    <p class="card-text">Serviciu transport persoane.</p>
                    <a href="#" class="btn btn-primary">Detalii</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card partner-card">
                <img src="/img/foodpanda.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">FoodPanda</h5>
                    <p class="card-text">Serviciu livrare produse alimentare la domiciliu.</p>
                    <a href="#" class="btn btn-primary">Detalii</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>Inregistreaza-te acum si profita de toate avantajele GigApp!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-success">Creeaza cont!</button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>Exploreaza toate domeniile noastre.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
            <div class="card text-center">
                <div class="card-body">
                    <span class="mid-icon">
                    <i class="fas fa-paint-roller logos-padding"></i>
                    </span>
                    <p class="card-text">Constructii</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card text-center">
                <div class="card-body">
                    <span class="mid-icon">
                    <i class="fas fa-shipping-fast logos-padding"></i>
                    </span>
                    <p class="card-text">Curierat</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card text-center">
                <div class="card-body">
                    <span class="mid-icon">
                    <i class="fas fa-broom logos-padding"></i>
                    </span>
                    <p class="card-text">Curatenie</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card text-center">
                <div class="card-body">
                    <span class="mid-icon">
                    <i class="fas fa-bus logos-padding"></i>
                    </span>
                    <p class="card-text">Transport</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card text-center">
                <div class="card-body">
                    <span class="mid-icon">
                    <i class="fas fa-plus logos-padding"></i>
                    </span>
                    <p class="card-text">Mai multe...</p>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h2>Vezi ultimele joburi aparute pe site:</h2>
            <div class="card text-center test-card">
                <div class="card-header">
                    Tamplar
                </div>
                <div class="card-body">
                    <p class="card-text">Se cauta tamplar pentru lucrare scurta!</p>
                    <a href="#" class="btn btn-primary">Afla mai multe</a>
                </div>
                <div class="card-footer text-muted">
                    Acum 45 de minute, Timisoara, Romania
                </div>
            </div>
            <div class="card text-center test-card">
                <div class="card-header">
                    Curatator
                </div>
                <div class="card-body">
                    <p class="card-text">Am nevoie de o persoana care sa ma ajute cu curatenia intr-un birou in centru vechi</p>
                    <a href="#" class="btn btn-primary">Afla mai multe</a>
                </div>
                <div class="card-footer text-muted">
                    Acum o ora, Bucuresti, Romania
                </div>
            </div>
            <div class="card text-center test-card">
                <div class="card-header">
                    Curier
                </div>
                <div class="card-body">
                    <p class="card-text">Se cauta curier materiale de constructii, se lucreaza pe dubita de 3.5 tone</p>
                    <a href="#" class="btn btn-primary">Afla mai multe</a>
                </div>
                <div class="card-footer text-muted">
                    Acum 2 ore, Timisoara, Romania
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card test-card">
                <div class="card-header">
                    Cauta job-uri dupa oras
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Bucuresti</li>
                    <li class="list-group-item">Timisoara</li>
                    <li class="list-group-item">Cluj-Napoca</li>
                    <li class="list-group-item">Craiova</li>
                    <li class="list-group-item">Iasi</li>
                </ul>
            </div>
            <div class="card test-card">
                <div class="card-header">
                    Oferte exclusive de parteneriat
                </div>
                <div id="carouselExampleIndicators" class="carousel slide test-card" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/img/glovo.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/uber.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/foodpanda.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") %>