<%- include("partials/header") %>

<form action="/register-user" method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <button type="submit">Register</button>
</form>

<%- include("partials/footer") %>