<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                    	<div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <p class="text-center">
                                    This user applied to your job so you can see his contact information now.
                                </p>
                                <div class="form-group">
                                    <label for="email" class="col-form-label">Email:</label>
                                    <span id="email" class="form-control"></span>
                                </div>
                                <div class="form-group">
                                    <label for="firstName" class="col-form-label">First Name:</label>
                                    <span id="firstName" class="form-control"></span>
                                </div>
                                <div class="form-group">
                                    <label for="lastName" class="col-form-label">Last Name:</label>
                                    <span id="lastName" class="form-control"></span>
                                </div>
                                <div class="form-group">
                                    <label for="dateOfBirth" class="col-form-label">Birthday:</label>
                                    <span id="dateOfBirth" class="form-control"></span>
                                </div>
                                <div class="form-group">
                                    <label for="address" class="col-form-label">Address:</label>
                                    <span id="address" class="form-control"></span>
                                </div>
                                <div class="form-group">
                                    <label for="telephone" class="col-form-label">Telephone:</label>
                                    <span id="telephone" class="form-control"></span>
                                </div>
                                <div class="form-group">
                                    <label for="about" class="col-form-label">About:</label>
                                    <span id="about" class="form-control"></span>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label"> <strong>Education:</strong> </label>
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="institution" class="col-form-label">Institution:</label>
                                            <span id="institution" class="form-control"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="beginDate" class="col-form-label">Begining Date:</label>
                                            <span id="beginDate" class="form-control"></span>
                                        </div>
                                        <div class="col">
                                            <label for="finishDate" class="col-form-label">Finish Date:</label>
                                            <span id="finishDate" class="form-control"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label"><strong>Work Experience:</strong></label>
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="position" class="col-form-label">Position:</label>
                                            <span id="position" class="form-control"></span>
                                        </div>
                                        <div class="col">
                                            <label for="company" class="col-form-label">Company:</label>
                                            <span id="company" class="form-control"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="startDate" class="col-form-label">Start Date:</label>
                                            <span id="startDate" class="form-control"></span>
                                        </div>
                                        <div class="col">
                                            <label for="endDate" class="col-form-label">End Date:</label>
                                            <span id="endDate" class="form-control"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
