<nav class="navbar navbar-expand navbar-light bg-primary topbar mb-4 static-top shadow">

    <a id="navbar-brand" class="navbar-brand" data-manual-trigger href="/homepage" data-ns="Homepage" title="Homepage">GigMe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a id="homepage" class="nav-link" data-manual-trigger href="/homepage" data-ns="Homepage" title="Homepage">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-manual-trigger href="/cv" data-ns="CV" title="CV">My Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-manual-trigger href="/jobs" data-ns="Jobs" title="Jobs">Jobs</a>
      </li>
      <li class="nav-item" hidden>
        <a id="jobinfo" class="nav-link" data-manual-trigger href="/jobinfo" data-ns="JobInfo" title="JobInfo">JobInfo</a>
      </li>
      <li class="nav-item" hidden>
        <a id="managejob" class="nav-link" data-manual-trigger href="/managejob" data-ns="ManageJob" title="ManageJob">ManageJob</a>
      </li>
      <li class="nav-item" hidden>
        <a id="userinfo" class="nav-link" data-manual-trigger href="/userinfo" data-ns="UserInfo" title="UserInfo">ManageJob</a>
      </li>
    </ul>
  </div>
  
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-white-600 small" id="userspan"></span>
                <i class="fas fa-users-cog"></i>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" data-manual-trigger href="/settings" data-ns="Settings" title="Settings" id="settings">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                </a>
                <a class="dropdown-item" href="#" data-toggle="modal" id="logOut">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>

    </ul>

</nav>




