<div class="container-fluid">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div id="alertSuccess" class="alert alert-primary hidden" role="alert">
           </div>

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Change email address</h1>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <label for="newemail" class="col-form-label">New email:</label>
                                        <input type="text" class="form-control form-control-user" id="newemail"
                                            placeholder="Enter a new email address" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="repeatemail" class="col-form-label">Repeat email:</label>
                                        <input class="form-control form-control-user" id="repeatemail"
                                            placeholder="Repeat email adress" required>
                                    </div>
                                    <button id="changeEmail" class="btn btn-primary btn-user btn-block">
                                        Change
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Change password</h1>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <label for="oldpassword" class="col-form-label">Old password:</label>
                                        <input
                                        type="password"
                                        class="form-control form-control-user"
                                        id="oldpassword"
                                        placeholder="Old password"
                                        minlength="6"
                                        required
                                >
                                    </div>
                                    <div class="form-group">
                                        <label for="repeatemail" class="col-form-label">New password:</label>
                                        <input
                                        type="password"
                                        class="form-control form-control-user"
                                        id="newpassword"
                                        placeholder="New password"
                                        minlength="6"
                                        required
                                >
                                    </div>
                                    <div class="form-group">
                                        <label for="repeatemail" class="col-form-label">Repeat new password:</label>
                                        <input
                                        type="password"
                                        class="form-control form-control-user"
                                        id="repeatpassword"
                                        placeholder="Repeat new password"
                                        minlength="6"
                                        required
                                >
                                    </div>
                                    <button id="changePassword" class="btn btn-primary btn-user btn-block">
                                        Change
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Delete account</h1>
                                </div>
                                <form class="user">
                                    <button id="deleteAccount" class="btn btn-danger btn-user btn-block">
                                        Delete
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>